.background-container-1 {
    height: 80vh; /* Full viewport height */
    background-image: url("./Blue Palm Pilates Teaching 1 med.jpg"); /* Replace with the URL of your background image */
    background-size: cover; /* Ensure the image covers the entire container */
    background-position: center; /* Center the image */
    display: flex; /* Enable Flexbox for centering */
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    text-align: center; /* Center the text */
    color: white; /* Change title color to contrast with the background */
}